<div class="container" style="height: 90vh;margin-top: 50px;">
    <div class="row" style="height: 100%;">
        <div class="col-9" style="padding: 50px; background-color: #00768e; height: 100%;">
         <div class="container" style="height: 100%;">
             <div class="row" style="height: auto; background-color: #489fb2; border-radius: 15px;">
                 <div class="col-12">
                        <upper-content-name></upper-content-name>
                 </div>
               
             </div>
             <div class="row" style="height: auto;margin-top: 20px; background-color: #489fb2; border-radius: 15px;">
                    <div class="col-12">
                            <lower-component></lower-component>
                     </div>
             </div>
         </div>

        </div>
    </div>
</div>